@import "../styles/firstPage/header";
@import "../styles/firstPage/joinMeetup";
@import "../styles/firstPage/eventLine";
@import "../styles/firstPage/eventsNear";
@import "../styles/firstPage/upcoming";
@import "../styles/firstPage/secondHeading";
@import "../styles/firstPage/topCategories";
@import "../styles/firstPage/citiesMeetup";
@import "../styles/firstPage/discoverEvents";
@import "../styles/firstPage/friendshipSection";
@import "../styles/firstPage/createYourOwn";
@import "../styles/firstPage/followUs";
@import "../styles/firstPage/termsOfService";
@import "../styles/firstPage/activeEvents";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

main {
  @include adaptive-width(100%);
  justify-content: center;
  @include flexing(flex, center, center);
  flex-direction: column;
}

#secondPageMain {
  @include adaptive-width(100%);
  justify-content: center;
  @include flexing(flex, center, center);
  flex-direction: column;
}

.smallerBody {
  max-width: 1226px;
}

.activeEvents {
  max-width: 1226px;
}

.lastPagePart {
  max-width: 1226px;
  background-color: #212121;
  padding: 0px 15px;
}

.backgroungForLastPrt {
  background-color: #212121;
  @include adaptive-width(100%);
  @include flexing(flex, center, center);
}
